/* Allgemeine Stile */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

/* Header und Navigation */
header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand img {
    margin-right: 10px;
}

header .navbar-nav .nav-link {
    color: #343a40;
}

header .navbar-nav .nav-link:hover {
    color: #919191;
}

/* Hauptinhalt */
main {
    padding: 20px;
}

h1 {
    color: #0067a2;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #0067a2;
    border-color: #007bff;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Footer */
footer {
    color: #ffffff;
    padding: 10px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsives Design */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }

    form {
        padding: 15px;
    }
}